* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #ddd;
	background: -o-linear-gradient(45deg, #000, purple);
	background: linear-gradient(45deg, #000, purple);
	height: 100vh;
	padding-top: 2rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 60%;
	margin: 0 auto;
}

h1 {
	font-weight: 900;
}

.form-block, .result-block {
	margin-top: 30px;
}

#password-length {
	font-weight: 900;
	font-size: 1.4em;
}

.form-control {
	width: 100%;
}

.btn {
	width: 200px;
	height: 40px;
	background: #e84393;
	color: #ddd;
	font-size: 1.2em;
	border: none;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
	margin-top: 20px;
}

.btn:hover {
	-webkit-box-shadow: 0 0 8px #e84393;
	        box-shadow: 0 0 8px #e84393;
}

#result-password {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ddd;
}

#result-password li {
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin: .5rem 0;
}

.copy {
	font-size: 0.8em;
	margin-top: 10px;
}

/*Media Queries*/

@media (max-width: 767px) {
	.container {
		width: 90%;
    }
}

@media (max-width: 479px) {
	body {
		height: auto;
	    padding-bottom: 40px;
    }
	#result-password li {
		font-size: 1rem;
	}
}
